<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="CharonDeviceIPAddress" value="http://192.168.50.36" />
    <add key="CharonDCRelayOnTimeOffset" value="62" />
    <!-- Offset from Sunset Time in minutes -->
    <add key="CharonDCRelayOffTime" value="23:15" />
    <!-- make sure this remains greater than On Time -->
    <add key="CharonACRelayOnTimeOffset" value="60" />
    <!-- Offset from Sunset Time in minutes -->
    <add key="CharonACRelayOffTime" value="23:16" />
    <!-- make sure this remains greater than On Time -->
    <add key="LocationLatitude" value="44.98" />
    <add key="LocationLongitude" value="-93.26" />
  </appSettings>
  
  
  <runtime>
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                 <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
                 <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
            </dependentAssembly>
       </assemblyBinding>
  </runtime>
</configuration>